
body{
	font-family: arial;	
}

.topo{
	height: 100px;
	width: 100%;
	background: lime;
}



/*Menu*/


.esq{
	width: 30%;
	display: inline-block;;
	float: left;
	margin-top: -25px;
}


.esq ul li{
	display: block;		
	margin: 10px 0 10px 0;
	cursor: pointer;
}




.esq ul li a{
	padding: 10px;
	background: #404040;
	color: #fff;
	text-decoration: none;
	width: 80%;
	display: block;

}

.esq ul li a:hover{
	padding: 10px;
	background: #0099CC;
	color: #fff;
	text-decoration: none;
	display: block;

}





/*Conteúdo*/

.centro{
	width: 70%;
	display: inline-block;
	float: left;

}


.centro article #fundoimagens{
	background: url("C:/Users/Bruno/Desktop/COncrety/HELP/images/home.jpg");
	display: block;
	width: 100%;
	height: 631px;
	margin-bottom: 30px;

}

#txtdescricao{
	color: #333;
	font-size: 16px;
	display: block;
	background: #ccc;
	font-weight: bold;
	padding: 10px;
}