<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Concrety" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=Concrety;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
