@{
    ViewBag.Title = "Contato";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        Rua José Cesário Mendes, 93 - Mauá - SP
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Email:</strong>   <a href="mailto:contato@concrety.com.br">contato@concrety.com.br</a>
    </address>
</div>