@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-error">Bloqueada.</h1>
    <h2 class="text-error">A sua conta foi bloqueada, por favor tente novamente mais tarde.</h2>
</hgroup>
