<div class="modal-header">
    <button type="button" class="close" ng-click="fechar()" aria-hidden="true">×</button>
    <h3 class="modal-title">Relatório - Diários de Obra</h3>
</div>
<div class="modal-body">
    <div class="page" ng-repeat="diarioObra in diariosObra">
        <h1 style="text-align:center;">
            {{nomeEmpreendimento}}
        </h1>

        <p></p>

        <p>
            Data: {{diarioObra.dataDiario | date:'fullDate'}}
        </p>
        <span ng-if="diarioObra.houveTrabalho">
            <p ng-repeat="condicaoClimatica in condicoesClimaticas | filter:{ value: diarioObra.idCondicaoClimatica }">
                Condição Climática: {{condicaoClimatica.text}}
            </p>
            <p>
                Temperaturas: Mínima {{diarioObra.temperaturaMinima}}ºC / Máxima: {{diarioObra.temperaturaMaxima}}ºC
            </p>
            <p>
                Horas Trabalhadas: {{diarioObra.horasTrabalhadas}}
            </p>
            <p>
                Horas Paradas: {{diarioObra.horasParadas}}
            </p>
            <h4>
                Serviços Executados
            </h4>
            <p ng-bind-html="diarioObra.servicosExecutados">
            </p>
            <h4>
                Mão de Obra
            </h4>
            <p>
                Montadores: {{diarioObra.totalMontadores}}
            </p>
            <p>
                Armadores: {{diarioObra.totalArmadores}}
            </p>            
            <p>
                Carpinteiros: {{diarioObra.totalCarpinteiros}}
            </p>            
            <p>
                Eletricistas: {{diarioObra.totalEletricistas}}
            </p>            
            <p>
                Encanadores: {{diarioObra.totalEncanadores}}
            </p>
            <p>
                Encarregados: {{diarioObra.totalEncarregados}}
            </p>
            <p>
                Mestres: {{diarioObra.totalMestres}}
            </p>
            <p>
                Pedreiros: {{diarioObra.totalPedreiros}}
            </p>
            <p>
                Ajudantes: {{diarioObra.totalAjudantes}}
            </p>
            <h4>
                Totais
            </h4>
            <p>
                Faltas: {{diarioObra.totalFaltas}}
            </p>
            <p>
                Acidentados: {{diarioObra.totalAcidentados}}
            </p>
            <p>
                Novos Funcionários: {{diarioObra.totalNovosFuncionarios}}
            </p>
            <p>
                Doentes: {{diarioObra.totalDoentes}}
            </p>
            <p>
                Demitidos: {{diarioObra.totalDemitidos}}
            </p>
        </span>

        <p ng-if="!diarioObra.houveTrabalho">
            Não houve trabalho
        </p>

    </div>

</div>
<div class="modal-footer">
    <button id="btn_salvar" class="btn btn-primary" print-div=".modal-body">Imprimir</button>
    <button id="btn_fechar" class="btn" ng-click="fechar()">Fechar</button>
</div>