<div class="modal-header">
    <button type="button" class="close" ng-click="fechar()" aria-hidden="true">×</button>
    <h3 class="modal-title">Relatório - Fichas de Verificação de Material</h3>
</div>
<div class="modal-body">
    <div class="page" ng-repeat="fvm in fvms">
        

    </div>

</div>
<div class="modal-footer">
    <button id="btn_salvar" class="btn btn-primary" print-div=".modal-body">Imprimir</button>
    <button id="btn_fechar" class="btn" ng-click="fechar()">Fechar</button>
</div>