<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Concrety</title>
    <link href="../../content/help/css/style.css" rel="stylesheet" />
</head>
<body>
    <aside class="esq">
        <nav>
            <ul>
                <li>
                    <a onclick="irhome()">Home</a>
                </li>
                <li>
                    <a onclick="irservicosobra()">Menu Serviços</a>
                </li>
                <li>
                    <a onclick="irobra()">Serviços > Obra</a>
                </li>

                <li>
                    <a onclick="irservicos()">Serviços > Unidades</a>
                </li>

                <li>
                    <a onclick="irunidades()">Menu Unidades</a>
                </li>
                <li>
                    <a onclick="irunidades2()">Selecionando Unidades</a>
                </li>
                <li>
                    <a onclick="irunidades3()">Detalhes da Unidades - Procedicmentos e Ocorrências</a>
                </li>
                <li>
                    <a onclick="irverificacao()">Menu Verificação de Materiais</a>
                </li>
                <li>
                    <a onclick="irverificacao2()">Registros de Verificação de Materiais</a>
                </li>
                <li>
                    <a onclick="irdiario()">Diário de Obra</a>
                </li>

            </ul>
        </nav>

    </aside>
    <section class="centro">
        <article>
            <div id="txtdescricao">
                Na home do Concrety, você pode acompanhar quais ocorrências estão em aberto, editá-las, visualizá-las e excluí-las, de acordo com sua necessidade.Os gráficos estarão disponíveis em breve e você poderá acompanhar todas as informações de forma simples e rápida!
            </div>
            <div id="fundoimagens">
            </div>

        </article>
    </section>

    <script type="text/javascript">
				function irhome(){
					var home = document.getElementById("fundoimagens").style.backgroundImage = "url('../../content/help/images/home.jpg')";
					var txthome = document.getElementById("txtdescricao").innerHTML = "Na home do Concrety, você pode acompanhar quais ocorrências estão em aberto, editá-las, visualizá-las e excluí-las, de acordo com sua necessidade.Os gráficos estarão disponíveis em breve e você poderá acompanhar todas as informações de forma simples e rápida!"

				}

				function irservicosobra(){
					var home = document.getElementById("fundoimagens").style.backgroundImage = "url('../../content/help/images/menuServicosObra.jpg')";
					var txtservicosobra = document.getElementById("txtdescricao").innerHTML = "Selecione no menu superior a opção Serviços > Obra."
				}

				function irobra(){
					var home = document.getElementById("fundoimagens").style.backgroundImage = "url('../../content/help/images/Obra.jpg')";
					var txtobra = document.getElementById("txtdescricao").innerHTML = "Nesta página, você terá todas os pontos de avaliação pertinentes a obra para analise. Você poderá Consultar o procedimento de Execução para ajudar na analise de cada etapa. Caso encontre alguma patologia basta clicar no botão Nova Ocorrência e após o preenchimento das informações, clique em Salvar."
				}

				function irservicos(){
					var home = document.getElementById("fundoimagens").style.backgroundImage = "url('../../content/help/images/MenuServicosUnidades.jpg')";
					var txtservicos = document.getElementById("txtdescricao").innerHTML = "Selecione no menu superior a opção Serviços > Unidade."
				}

				function irunidades(){
					var home = document.getElementById("fundoimagens").style.backgroundImage = "url('../../content/help/images/Unidades.jpg')";
					var txtunidades = document.getElementById("txtdescricao").innerHTML = "Selecione no menu superior a opção Serviços > Unidade."
				}


				function irunidades2(){
					var home = document.getElementById("fundoimagens").style.backgroundImage = "url('../../content/help/images/Unidades2.jpg')";
					var txtunidades2 = document.getElementById("txtdescricao").innerHTML = "Nesta página, você poderá localizar exatamente qual unidade quiser, e realizar as verificações individualmente."

				}

				function irunidades3(){
					var home = document.getElementById("fundoimagens").style.backgroundImage = "url('../../content/help/images/Unidades3.jpg')";
					var txtunidades3 = document.getElementById("txtdescricao").innerHTML = "Aqui você conseguirá fazer a verificação de todas as etapas de construção de uma unidade. Sempre com a possíbilidade de Consultar o Procedimento de Execução e abrir ocorrências no caso de patologias."


				}
				function irverificacao(){
					var home = document.getElementById("fundoimagens").style.backgroundImage = "url('../../content/help/images/MenuVerificacaoMaterial.jpg')";
					var txtverificacao = document.getElementById("txtdescricao").innerHTML = "Selecione no menu superior a opção Verificação de Materiais > Obra."

				}
				function irverificacao2(){
					var home = document.getElementById("fundoimagens").style.backgroundImage = "url('../../content/help/images/materiais.jpg')";
					var txtverificacao2 = document.getElementById("txtdescricao").innerHTML = "Todo o material recebido na obra, poderá ser cadastrado nesta área do Concrety. Com campos específicos para cada tipo de material, o rastreio fica muito mais fácil e personalizado."

				}
				function irdiario(){
					var home = document.getElementById("fundoimagens").style.backgroundImage = "url('../../content/help/images/DiarioDeObra.jpg')";
					var txtdiario = document.getElementById("txtdescricao").innerHTML = "Todos os dias, as informações colhidas no canteiro de obras, deverão ser inseridas neste formulário, como: condições climáticas, horas trabalhadas, quais profissionais trabalharam neste dia etc. Essas informações são de extrema importancia para tomada de decisões futuras e melhoria dos processos de construção."

				}

    </script>

</body>
</html>
