
<div class="row">
    <div class="col-md-12">
        <div id="conteudo_info_detalhada">
            <h4 class="h4_titulo"><b>Diário de Obra</b></h4>
        </div>
        <div kendo-grid="diariosObraGrid" k-options="diariosObraGridOptions"
             k-ng-delay="diariosObraGridOptions"></div>
        <script type="text/x-kendo-template" id="toolbarTemplate">
            <a class='k-button k-button-icontext k-grid-add' href=''>Inserir</a>
            <a class="btn_impressao_diario_obra" href="" ng-click="gerarRelatorio()" title="Gerar Relatório">
                <i class="glyphicon glyphicon-print"></i>
            </a>
        </script>
        <script type="text/x-kendo-template" id="editTemplate">
            <div ng-if="dataItem">
                <div class="k-edit-label">
                    <label for="data">Data</label>
                </div>
                <div class="k-edit-field">
                    <!--<datepicker ng-model="dataItem.dataDiario"></datepicker>-->
                    <input type="text"
                           datepicker-popup
                           ng-model="dataItem.dataDiario"
                           is-open="dataItem.dataDiarioOpened"
                           ng-click="dataItem.dataDiarioOpened = true"
                           ng-change="dataItem.dirty = true"
                           class="input-md" />
                </div>
                <div class="k-edit-label">
                    <label for="servicosExecutados">Serviços Executados</label>
                </div>
                <div class="k-edit-field">
                    <textarea kendo-editor name="servicosExecutados" style="width:550px;" ng-model="dataItem.servicosExecutados" k-encoded="false" ng-change="dataItem.dirty = true"></textarea>
                </div>
                <tabset type="pills" justified="true">
                    <div class="k-edit-label">
                        <label>Selecione o período</label>
                    </div>    
                        <tab class="diario_obra_periodo" ng-repeat="periodo in dataItem.diariosPeriodos" ng-if="!periodo.excluido" heading="{{periodo.empreendimentoPeriodo.nome}}"></tab>
                        <div class="k-edit-label">
                            <label>Houve Trabalho?</label>
                        </div>
                        <div class="k-edit-field">
                            <input type="checkbox" ng-model="periodo.houveTrabalho" ng-change="dataItem.dirty = true">
                        </div>
                        <div class="k-edit-label">
                            <label>Condição Climática</label>
                        </div>
                        <div id="myform" class="k-edit-field">
                            <!--required data-required-msg="Campo condição climática deve ser preenchido"-->
                            <select kendo-drop-down-list
                                    k-options="dropDownCondicoesClimaticasOptions"
                                    ng-model="periodo.idCondicaoClimatica"
                                    ng-change="dataItem.dirty = true"
                                    style="width: auto; background-color:white!important;"></select>
                        </div>
                        <div class="k-edit-label">
                            <label>Temperatura Mínima</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.temperaturaMinima" options="optionsTemperatura" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Temperatura Máxima</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.temperaturaMaxima" options="optionsTemperatura" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Horas Trabalhadas</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.horasTrabalhadas" options="optionsHoras" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Horas Paradas</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.horasParadas" options="optionsHoras" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Total Montadores</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.totalMontadores" options="optionsTotais" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Total Armadores</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.totalArmadores" options="optionsTotais" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Total Carpinteiros</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.totalCarpinteiros" options="optionsTotais" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Total Eletricistas</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.totalEletricistas" options="optionsTotais" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Total Encarregados</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.totalEncarregados" options="optionsTotais" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Total Encanadores</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.totalEncanadores" options="optionsTotais" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Total Mestres</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.totalMestres" options="optionsTotais" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Total Ajudantes</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.totalAjudantes" options="optionsTotais" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Total Pedreiros</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.totalPedreiros" options="optionsTotais" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Total Faltas</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.totalFaltas" options="optionsTotais" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Total Acidentados</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.totalAcidentados" options="optionsTotais" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Total Novos Funcionários</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.totalNovosFuncionarios" options="optionsTotais" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Total Doentes</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.totalDoentes" options="optionsTotais" k-ng-change="dataItem.dirty = true" />
                        </div>
                        <div class="k-edit-label">
                            <label>Total Demitidos</label>
                        </div>
                        <div class="k-edit-field">
                            <input kendo-numeric-text-box k-ng-model="periodo.totalDemitidos" options="optionsTotais" k-ng-change="dataItem.dirty = true" />
                        </div>
                   
                </tabset>
                <div id="msg_alerta_ocorrencia" data-ng-hide="mensagem == ''" class="alert alert-danger col-md-12">
                    {{mensagem}}
                </div>
        </script>
    </div>
</div>