
<div class="row">
    <div class="col-md-12">
        <div id="conteudo_info_detalhada">
            <h4><b>Diário de Obra</b></h4>
        </div>
        <div kendo-grid k-options="diariosObraGridOptions"
             k-ng-delay="diariosObraGridOptions"></div>
        <script type="text/x-kendo-template" id="editTemplate">
            <!--<span ng-bind="dataItem.id" class="ng-binding"></span>-->
            <div class="k-edit-label">
                <label for="data">Data</label>
            </div>
            <div class="k-edit-field">
                <input name="data" type="text" datepicker-popup ng-model="dataItem.data" required
                       is-open="dataItem.dataOpened" ng-click="dataItem.dataOpened = true" />
            </div>
            <div class="k-edit-label">
                <label for="houveTrabalho">Houve Trabalho?</label>
            </div>
            <div class="k-edit-field">
                <input type="checkbox" name="houveTrabalho" ng-model="dataItem.houveTrabalho">
            </div>
            <div class="k-edit-label">
                <label for="condicaoClimatica">Condição Climática</label>
            </div>
            <div class="k-edit-field">
                <select kendo-drop-down-list required
                        name="condicaoClimatica"
                        k-options="dropDownCondicoesClimaticasOptions"
                        ng-model="dataItem.idCondicaoClimatica"
                        style="width: auto"></select>
            </div>
            <div class="k-edit-label">
                <label for="temperaturaMinima">Temperatura Mínima</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="temperaturaMinima" ng-model="dataItem.temperaturaMinima" options="optionsTemperatura" />
            </div>
            <div class="k-edit-label">
                <label for="temperaturaMaxima">Temperatura Máxima</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="temperaturaMaxima" ng-model="dataItem.temperaturaMaxima" options="optionsTemperatura" />
            </div>
            <div class="k-edit-label">
                <label for="horasTrabalhadas">Horas Trabalhadas</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="horasTrabalhadas" ng-model="dataItem.horasTrabalhadas" options="optionsHoras" />
            </div>
            <div class="k-edit-label">
                <label for="horasParadas">Horas Paradas</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="horasParadas" ng-model="dataItem.horasParadas" options="optionsHoras" />
            </div>
            <div class="k-edit-label">
                <label for="servicosExecutados">Serviços Executados</label>
            </div>
            <div class="k-edit-field">
                <textarea kendo-editor name="servicosExecutados" style="width:550px;" ng-model="dataItem.servicosExecutados"></textarea>
            </div>
            <div class="k-edit-label">
                <label for="totalMontadores">Total Montadores</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="totalMontadores" ng-model="dataItem.totalMontadores" options="optionsTotais" />
            </div>
            <div class="k-edit-label">
                <label for="totalArmadores">Total Armadores</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="totalArmadores" ng-model="dataItem.totalArmadores" options="optionsTotais" />
            </div>
            <div class="k-edit-label">
                <label for="totalCarpinteiros">Total Carpinteiros</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="totalCarpinteiros" ng-model="dataItem.totalCarpinteiros" options="optionsTotais" />
            </div>
            <div class="k-edit-label">
                <label for="totalEletricistas">Total Eletricistas</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="totalEletricistas" ng-model="dataItem.totalEletricistas" options="optionsTotais" />
            </div>
            <div class="k-edit-label">
                <label for="totalEncarregados">Total Encarregados</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="totalEncarregados" ng-model="dataItem.totalEncarregados" options="optionsTotais" />
            </div>
            <div class="k-edit-label">
                <label for="totalEncanadores">Total Encanadores</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="totalEncanadores" ng-model="dataItem.totalEncanadores" options="optionsTotais" />
            </div>
            <div class="k-edit-label">
                <label for="totalMestres">Total Mestres</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="totalMestres" ng-model="dataItem.totalMestres" options="optionsTotais" />
            </div>
            <div class="k-edit-label">
                <label for="totalAjudantes">Total Ajudantes</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="totalAjudantes" ng-model="dataItem.totalAjudantes" options="optionsTotais" />
            </div>
            <div class="k-edit-label">
                <label for="totalPedreiros">Total Pedreiros</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="totalPedreiros" ng-model="dataItem.totalPedreiros" options="optionsTotais" />
            </div>
            <div class="k-edit-label">
                <label for="totalFaltas">Total Faltas</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="totalFaltas" ng-model="dataItem.totalFaltas" options="optionsTotais" />
            </div>
            <div class="k-edit-label">
                <label for="totalAcidentados">Total Acidentados</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="totalAcidentados" ng-model="dataItem.totalAcidentados" options="optionsTotais" />
            </div>
            <div class="k-edit-label">
                <label for="totalNovosFuncionarios">Total Novos Funcionários</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="totalNovosFuncionarios" ng-model="dataItem.totalNovosFuncionarios" options="optionsTotais" />
            </div>
            <div class="k-edit-label">
                <label for="totalDoentes">Total Doentes</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="totalDoentes" ng-model="dataItem.totalDoentes" options="optionsTotais" />
            </div>
            <div class="k-edit-label">
                <label for="totalDemitidos">Total Demitidos</label>
            </div>
            <div class="k-edit-field">
                <input kendo-numeric-text-box name="totalDemitidos" ng-model="dataItem.totalDemitidos" options="optionsTotais" />
            </div>
            <div data-ng-hide="mensagem == ''" class="alert alert-danger">
                {{mensagem}}
            </div>
        </script>
    </div>
</div>