<div class="row">
    <h3><b>Home</b></h3>
    <div class="col-md-12">
        <h4 class="h4_titulo"><b>Visão macro</b></h4>
    </div>
        <div class="col-md-4"><img style="max-width:350px;" class="img_teste" src="../../content/css/Default/grafico1_teste.png" /></div>
        <div class="col-md-4"><img style="max-width:350px;" class="img_teste" src="../../content/css/Default/grafico1_teste.png" /></div>
        <div class="col-md-4"><img style="max-width:350px;" class="img_teste" src="../../content/css/Default/grafico1_teste.png" /></div>
    <div class="col-md-12" style="padding-top:15px;">
        <h4 class="h4_titulo"><b>Ocorrências em Aberto</b></h4>
        <div id="grid_ocorrencias" kendo-grid k-options="ocorrenciasGridOptions"
                ng-if="ocorrenciasGridOptions"></div>
    </div>
</div>