<div class="row">
    <div>
        {{servico.nome}} - {{servico.descricao}} <button class="btn btn-default" ng-click="abrirModalNorma()">Norma</button>
    </div>
    <div>
        Data Início:
        <input type="text"
               datepicker-popup
               ng-model="servicoUnidade.dataInicio"
               is-open="servicoUnidade.dataInicioOpened"
               ng-click="servicoUnidade.dataInicioOpened = true"
               max-date="servicoUnidade.dataFim"
               class="input-md" />       

        Data Conclusão:
        <input type="text"
               datepicker-popup
               ng-model="servicoUnidade.dataFim"
               is-open="servicoUnidade.dataFimOpened"
               ng-click="servicoUnidade.dataFimOpened = true"
               min-date="servicoUnidade.dataInicio"
               class="input-md" />  

        <select kendo-drop-down-list
                k-options="dropDownStatusOptions"
                ng-model="servicoUnidade.status"
                style="width: auto"></select>

        <div ng-repeat="fvs in servicoUnidade.fichasVerificacaoServico">
            {{fvs.fichaVerificacaoServico.nome}} - {{fvs.fichaVerificacaoServico.descricao}}
            <table>
                <thead>
                    <tr>
                        <th>Serviço</th>
                        <th>Validação</th>
                        <th>Descrição</th>
                        <th>Resultado</th>
                        <th>Ocorrências</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in fvs.itens">
                        <td>{{item.itemVerificacao.nome}}</td>
                        <td>{{item.itemVerificacao.validacao}}</td>
                        <td>{{item.itemVerificacao.descricao}}</td>
                        <td>
                            <select kendo-drop-down-list
                                    k-options="dropDownResultadoOptions"
                                    ng-model="item.resultado"
                                    style="width: auto"></select>
                        </td>
                        <td>{{item.quantidadeOcorrencias}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button type="button" class="btn btn-primary" ng-click="salvar()">
            Salvar
        </button>

    </div>
    <div data-ng-hide="mensagem == ''" data-ng-class="(salvoComSucesso) ? 'alert alert-success' : 'alert alert-danger'">
        {{mensagem}}
    </div>
</div>