<div class="row" id="conteudo_info_detalhada">
    <div class="col-md-12">
        <div>
            <h4><b>Verificação de Materiais</b></h4>
        </div>
        <div class="pesquisa" ng-hide="niveis.length == 1">
            <ul>
                <li data-ng-repeat="nivel in niveis">
                    {{nivel.nome}}:
                    <select kendo-drop-down-list
                            id="nivel{{$index}}"
                            k-options="dropDownNiveisOptions[$index]"
                            style="width: auto"
                            ng-model="$parent.$parent.unidadeSelecionada"
                            ng-if="$last"></select>
                    <select kendo-drop-down-list
                            id="nivel{{$index}}"
                            k-options="dropDownNiveisOptions[$index]"
                            style="width: auto"
                            ng-if="!$last"></select>
                </li>
            </ul>
        </div>

        <script type="text/x-kendo-template" id="toolbarTemplate">
            <a class='k-button k-button-icontext k-grid-add' href=''>Inserir</a>
            <a href="" ng-click="gerarRelatorio()" title="Gerar Relatório">
                <i class="glyphicon glyphicon-print"></i>
            </a>
        </script>

        <div id="materiaisGrid" kendo-grid k-options="materiaisGridOptions"
             k-ng-delay="materiaisGridOptions"
             ng-if="unidadeSelecionada"></div>

        <script type="text/x-kendo-template" id="editTemplate">
            <div ng-controller="materialUnidadeController"
                 ng-init="fvm=dataItem"
                 ng-if="dataItem">

                <div class="k-edit-label" ng-hide="!fvm.isNew()">
                    <label for="fichas">Fichas</label>
                </div>
                <div class="k-edit-field" ng-hide="!fvm.isNew()">
                    <select kendo-drop-down-list required data-required-msg="Selecione uma ficha"
                            name="fichas"
                            k-options="dropDownFichasOptions"
                            ng-model="fvm.idFichaVerificacaoMaterial"
                            style="width: 300px; background-color:white!important;"></select>
                </div>
                <div ng-if="fvm.idFichaVerificacaoMaterial">
                    <div class="k-edit-label">
                        <label for="data">Data</label>
                    </div>
                    <div class="k-edit-field">
                        <!--<datepicker ng-model="fvm.dataFicha"></datepicker>-->
                        <input type="text"
                               datepicker-popup
                               ng-model="fvm.dataFicha"
                               is-open="fvm.dataFichaOpened"
                               ng-click="fvm.dataFichaOpened = true"
                               class="input-md" />
                    </div>
                    <div class="k-edit-label">
                        <label for="fornecedor">Fornecedor</label>
                    </div>
                    <div class="k-edit-field">
                        <select kendo-combo-box required data-required-msg="Campo fornecedor deve ser preenchido"
                                name="fornecedor"
                                k-options="dropDownFornecedoresOptions"
                                ng-model="fvm.idFornecedor"
                                style="width: auto; background-color:white!important;"></select>
                    </div>
                    <div class="k-edit-label">
                        <label for="numeroPedido">Número do Pedido</label>
                    </div>
                    <div class="k-edit-field">
                        <input type="text" name="numeroPedido" ng-model="fvm.numeroPedido" required data-required-msg="Campo número do pedido deve ser preenchido" ng-change="fvm.dirty=true" />
                    </div>
                    <div class="k-edit-label">
                        <label for="notaFiscal">Nota Fiscal</label>
                    </div>
                    <div class="k-edit-field">
                        <input type="text" name="notaFiscal" ng-model="fvm.notaFiscal" required data-required-msg="Campo nota fiscal deve ser preenchido" ng-change="fvm.dirty=true" />
                    </div>
                    <div class="k-edit-label">
                        <label for="quantidadeTotal">Qtde. Total</label>
                    </div>
                    <div class="k-edit-field">
                        <input type="text" name="quantidadeTotal" ng-model="fvm.quantidadeTotal" required data-required-msg="Campo quantidade total deve ser preenchido" ng-change="fvm.dirty=true" />
                    </div>
                    <div class="k-edit-label">
                        <label for="amostraValidacao">Amostra</label>
                    </div>
                    <div class="k-edit-field">
                        <input type="text" name="amostraValidacao" ng-model="fvm.amostraValidacao" required data-required-msg="Campo amostra deve ser preenchido" ng-change="fvm.dirty=true" />
                    </div>
                    <div class="k-edit-label">
                        <label for="observacoes">Observações</label>
                    </div>
                    <div class="k-edit-field">
                        <textarea kendo-editor name="observacoes" style="width:550px;" ng-model="fvm.observacoes" k-encoded="false" ng-change="fvm.dirty=true"></textarea>
                    </div>
                    <div class="k-edit-label">
                        <label for="aprovado">Aprovado?</label>
                    </div>
                    <div class="k-edit-field">
                        <input type="checkbox" name="aprovado" ng-model="fvm.aprovado">
                    </div>

                    <span data-ng-repeat="item in fvm.itens">
                        <div class="k-edit-label">
                            <label>{{item.itemVerificacao.nome}}</label>
                        </div>
                        <div class="k-edit-field" ng-switch on="item.itemVerificacao.tipo">
                            <input type="checkbox" ng-model="item.resultado" ng-true-value="True" ng-false-value="False" ng-switch-when="10" ng-change="fvm.dirty=true">
                            <input type="textbox" ng-model="item.resultado" ng-switch-when="20" ng-change="fvm.dirty=true">
                        </div>
                    </span>

                    <div class="k-edit-label" style="width:750px;" ng-bind-html="criterioAceite">
                    </div>

                    <div data-ng-hide="mensagem == ''" class="alert alert-danger">
                        {{mensagem}}
                    </div>
                </div>
            </div>
        </script>
    </div>
</div>