<div class="modal-header">
    <button type="button" class="close" ng-click="fechar()" aria-hidden="true">×</button>
    <h3 class="modal-title">Ocorrência</h3>
</div>
<div class="modal-body" style="height:auto">
    <div class="k-edit-label">
        <label>Data Abertura</label>
    </div>
    <div class="k-edit-field">
        <datepicker ng-model="ocorrencia.dataAbertura" required></datepicker>
    </div>
    <div class="k-edit-label">
        <label>Data Conclusão</label>
    </div>
    <div class="k-edit-field">
        <datepicker ng-model="ocorrencia.dataConclusao"></datepicker>
    </div>
    <div class="k-edit-label">
        <label>Status</label>
    </div>
    <div class="k-edit-field">
        <select kendo-drop-down-list required
                k-options="dropDownStatusOptions"
                ng-model="ocorrencia.status"
                style="width: auto"></select>
    </div>
    <div class="k-edit-label">
        <label>Patologia</label>
    </div>
    <div class="k-edit-field" ng-if="dropDownPatologiasOptions">
        <select kendo-drop-down-list required
                k-options="dropDownPatologiasOptions"
                ng-model="ocorrencia.idPatologia"
                style="width: 350px"></select> 
    </div>
    <div ng-if="ocorrencia.patologia">
        <div class="k-edit-label">
            <label>Solução</label>
        </div>
        <div class="k-edit-field">
            {{ocorrencia.patologia.solucoes[0].nome}} - {{ocorrencia.patologia.solucoes[0].descricao}}
            {{ocorrencia.patologia.solucoes[0].norma}}
        </div>
    </div>
    <div class="k-edit-label">
        <label>Descrição</label>
    </div>
    <div class="k-edit-field">
        <textarea kendo-editor style="width:500px;" ng-model="ocorrencia.descricao" k-encoded="false"></textarea>
    </div>
    <div>
        <div class="ocorrencias_imagem_evidencia">
            <h3><b>Fotos de evidência</b></h3>
        </div>
        <input type="file" id="file" name="file" multiple ng-change="anexoSelecionado" />
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tamanho</th>
                    <th>Tipo</th>
                    <th>Preview</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="anexo in ocorrencia.anexos" ng-hide="anexo.excluido">
                    <td>{{anexo.nome}}</td>
                    <td>{{anexo.tamanho}}</td>
                    <td>{{anexo.tipo}}</td>
                    <td><img src="anexo.conteudo" /></td>
                    <td><button class="btn btn-default" ng-click="excluirAnexo(anexo)">Excluir</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div data-ng-hide="mensagem == ''" data-ng-class="(salvoComSucesso) ? 'alert alert-success' : 'alert alert-danger'">
        {{mensagem}}
    </div>
</div>
<div class="modal-footer">
    <button id="btn_salvar" class="btn btn-primary" ng-click="salvar()">Salvar</button>
    <button id="btn_fechar" class="btn" ng-click="fechar()">Fechar</button>
</div>