<div class="modal-header">
    <button type="button" class="close" ng-click="fechar()" aria-hidden="true">×</button>
    <h3 class="modal-title">Ocorrência</h3>
</div>
<div class="modal-body" style="height:1100px;">
    <div class="k-edit-label">
        <label>Data Abertura</label>
    </div>
    <div class="k-edit-field">
        <datepicker ng-model="ocorrencia.dataAbertura" required></datepicker>
    </div>
    <div class="k-edit-label">
        <label>Data Conclusão</label>
    </div>
    <div class="k-edit-field">
        <datepicker ng-model="ocorrencia.dataConclusao"></datepicker>
    </div>
    <div class="k-edit-label">
        <label>Status</label>
    </div>
    <div class="k-edit-field">
        <select kendo-drop-down-list required
                k-options="dropDownStatusOptions"
                ng-model="ocorrencia.status"
                style="width: auto"></select>
    </div>
    <div class="k-edit-label">
        <label>Patologia</label>
    </div>
    <div class="k-edit-field" ng-if="dropDownPatologiasOptions">
        <select kendo-drop-down-list required
                k-options="dropDownPatologiasOptions"
                ng-model="ocorrencia.idPatologia"
                style="width: auto"></select> 
    </div>
    <div ng-if="ocorrencia.patologia">
        <div class="k-edit-label">
            <label>Solução</label>
        </div>
        <div class="k-edit-field">
            {{ocorrencia.patologia.solucoes[0].nome}} - {{ocorrencia.patologia.solucoes[0].descricao}}
            {{ocorrencia.patologia.solucoes[0].norma}}
        </div>
    </div>
    <div class="k-edit-label">
        <label>Descrição</label>
    </div>
    <div class="k-edit-field">
        <textarea kendo-editor style="width:550px;" ng-model="ocorrencia.descricao" k-encoded="false"></textarea>
    </div>

    <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Adicionar arquivos...</span>
                    <input type="file" name="files[]" multiple ng-disabled="disabled">
                </span>
                <button type="button" class="btn btn-primary start" data-ng-click="submit()">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
                <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table class="table table-striped files ng-cloak">
            <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                <td data-ng-switch data-on="!!file.thumbnailUrl">
                    <div class="preview" data-ng-switch-when="true">
                        <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                    </div>
                    <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                </td>
                <td>
                    <p class="name" data-ng-switch data-on="!!file.url">
                        <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                            <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                            <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                        </span>
                        <span data-ng-switch-default>{{file.name}}</span>
                    </p>
                    <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                </td>
                <td>
                    <p class="size">{{file.size | formatFileSize}}</p>
                    <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start</span>
                    </button>
                    <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                    <button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                    </button>
                </td>
            </tr>
        </table>
    </form>

    <div data-ng-hide="mensagem == ''" data-ng-class="(salvoComSucesso) ? 'alert alert-success' : 'alert alert-danger'">
        {{mensagem}}
    </div>
</div>
<div class="modal-footer">
    <button id="btn_salvar" class="btn btn-primary" ng-click="salvar()">Salvar</button>
    <button id="btn_fechar" class="btn" ng-click="fechar()">Fechar</button>
</div>