<div class="row">
    <div>
        {{servico.nome}} - {{servico.descricao}} <button class="btn btn-default" ng-click="abrirModalNorma()">Norma</button>
    </div>
    <div>
        Data Início:
        <input kendo-date-time-picker="$parent.dataInicioPicker"
               k-options="dataOptions"
               k-ng-model="servicoUnidade.DataInicio" />
        Data Conclusão:
        <input kendo-date-time-picker="$parent.dataConclusaoPicker"
               k-options="dataOptions"
               k-ng-model="servicoUnidade.DataFim" />

        {{servicoUnidade.status}}

        <ul>
            <li ng-repeat="fvs in servicoUnidade.fichasVerificacaoServico">
                {{fvs.fichaVerificacaoServico.nome}} - {{fvs.fichaVerificacaoServico.descricao}}
                <ul>
                    <li ng-repeat="item in fvs.itens">
                        {{item.itemVerificacao.nome}} - {{item.itemVerificacao.validacao}} - {{item.itemVerificacao.descricao}} - {{item.resultado}} - {{item.quantidadeOcorrencias}}
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>