<!--Qualquer alteração realiada nesse HTML não reflete imediatamente, pois ele é carregado via ng-include na partial servicos.html. Altere a querystring que tem lá para que este HTML seja atualizado no cache-->

<div class="row_detalhe">
    <div class="detalhes_servicos">
        {{servico.nome}} - {{servico.descricao}} <button id="btn_norma" class="btn btn-default" ng-click="abrirModalNorma()">Consultar Procedimento de Execução</button>
    </div>
    <div class="dados_concrety">
        <b>Data Início:</b>
        <input type="text"
               datepicker-popup
               ng-model="servicoUnidade.dataInicio"
               is-open="servicoUnidade.dataInicioOpened"
               ng-click="servicoUnidade.dataInicioOpened = true"
               max-date="servicoUnidade.dataFim"
               class="input-md" />       

        <b>Data Conclusão:</b>
        <input type="text"
               datepicker-popup
               ng-model="servicoUnidade.dataFim"
               is-open="servicoUnidade.dataFimOpened"
               ng-click="servicoUnidade.dataFimOpened = true"
               min-date="servicoUnidade.dataInicio"
               class="input-md" />  

        <select kendo-drop-down-list
                k-options="dropDownStatusOptions"
                ng-model="servicoUnidade.status"
                style="width: auto"></select>

        <div ng-repeat="fvs in servicoUnidade.fichasVerificacaoServico" class="tabela_servicos">
            {{fvs.fichaVerificacaoServico.nome}} - {{fvs.fichaVerificacaoServico.descricao}}
            <table class="itens_verificacao">
                <thead>
                    <tr>
                        <th class="th_servicos">Serviço</th>
                        <th class="th_validacao">Validação</th>
                        <th class="th_descricao">Descrição</th>
                        <th class="th_resultado">Resultado</th>
                        <th class="th_ocorrencias">Ocorrências</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in fvs.itens">
                        <td class="td_servicos">{{item.itemVerificacao.nome}}</td>
                        <td class="td_validacao">{{item.itemVerificacao.validacao}}</td>
                        <td class="td_descricao">{{item.itemVerificacao.descricao}}</td>
                        <td class="td_resultados">
                            <select kendo-drop-down-list
                                    k-options="dropDownResultadoOptions"
                                    ng-model="item.resultado"
                                    style="width: 200px"></select>
                        </td>
                        <td class="td_ocorrencias">
                            {{item.quantidadeOcorrencias}}
                            <button id="btn_Ocorrencia" class="btn btn-default" ng-click="novaOcorrencia(item)">Nova Ocorrência</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button type="button" class="btn btn-primary" ng-click="salvar()" id="salvar_servico">
            Salvar
        </button>
        
        <div kendo-grid="ocorrenciasGrid" k-options="ocorrenciasGridOptions"
             ng-if="ocorrenciasGridOptions"></div>

    </div>
    <div data-ng-hide="mensagem == ''" data-ng-class="(salvoComSucesso) ? 'alert alert-success' : 'alert alert-danger'">
        {{mensagem}}
    </div>
</div>