
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <div class="pesquisa">
            <ul>
                <li data-ng-repeat="nivel in niveis">
                    {{nivel.nome}}:
                    <select kendo-drop-down-list
                            id="nivel{{$index}}"
                            k-options="dropDownOptions[$index]"
                            style="width: auto"></select>
                </li>
            </ul>
             
        </div>
        <!--<table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer</th>
                    <th>City</th>
                    <th>Shipped</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="order in orders">
                    <td>
                       
                    </td>
                    <td>
                        
                    </td>
                    <td>
                       
                    </td>
                    <td>
                       <input type="checkbox" disabled="disabled">
                    </td>
                </tr>
            </tbody>
        </table>-->
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>