
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <div class="pesquisa">
            <ul>
                <li data-ng-repeat="nivel in niveis">
                    {{nivel.nome}}:
                    <select kendo-drop-down-list
                            id="nivel{{$index}}"
                            k-options="dropDownOptions[$index]"
                            style="width: auto"
                            ng-model="$parent.$parent.unidadeSelecionada"
                            ng-if="$last"></select>
                    <select kendo-drop-down-list
                            id="nivel{{$index}}"
                            k-options="dropDownOptions[$index]"
                            style="width: auto"
                            ng-if="!$last"></select>
                </li>
            </ul>
        </div>
        <div class="servicos">

            <tabset type="pills">
                <tab ng-repeat="servico in servicosDaUnidade" heading="{{servico.nome}}" active="servico.atual"> <!--disabled="servico.desabilitado"-->
                    <div ng-controller="servicoUnidadeController"
                         ng-init="servico=servico"
                         ng-include="'/app/partials/servicounidade.html'">
                    </div>
                </tab>
            </tabset>

        </div>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>