            <div class="row" id="conteudo_info_detalhada">
                <div>
                    <h4><b>Serviços - Informações detalhadas</b></h4>
                </div>
                <div class="col-md-12">
                    <div class="pesquisa" ng-hide="niveis.length == 1">
                        <ul>
                            <li data-ng-repeat="nivel in niveis">
                                {{nivel.nome}}:
                                <select kendo-drop-down-list
                                        id="nivel{{$index}}"
                                        k-options="dropDownOptions[$index]"
                                        style="width: 250px"
                                        ng-model="$parent.$parent.unidadeSelecionada"
                                        ng-if="$last"></select>
                                <select kendo-drop-down-list
                                        id="nivel{{$index}}"
                                        k-options="dropDownOptions[$index]"
                                        style="width: 200px"
                                        ng-if="!$last"></select>
                            </li>
                        </ul>
                    </div>
                    <div class="servicos">
                        <tabset type="pills" justified="true">
                            <tab ng-repeat="servico in servicosDaUnidade" heading="{{servico.nome}}" active="servico.atual">
                                <!--disabled="servico.desabilitado"-->
                                <div ng-controller="servicoUnidadeController"
                                     ng-init="servico=servico"
                                     ng-include="'/app/partials/servicounidade.html?t=v5'">
                                </div>
                            </tab>
                        </tabset>

                    </div>
                </div>
            </div>