<form class="form-login" role="form">
    <h2 class="form-login-heading">Registre-se</h2>
    <input type="text" class="form-control" placeholder="Nome" data-ng-model="registration.nome" required autofocus>
    <input type="tel" class="form-control" placeholder="Telefone" data-ng-model="registration.telefone" required maxlength="15" pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$">
    <input type="text" class="form-control" placeholder="Email" data-ng-model="registration.email" required>
    <input type="password" class="form-control" placeholder="Senha" data-ng-model="registration.password" required>
    <input type="password" class="form-control" placeholder="Confirme a senha" data-ng-model="registration.confirmPassword" required>
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Enviar</button>
    <div data-ng-hide="mensagem == ''" data-ng-class="(salvoComSucesso) ? 'alert alert-success' : 'alert alert-danger'">
        {{mensagem}}
    </div>
</form>